/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    background: #13161b;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}

h1 {
    font-size: 64px;
    line-height: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: #1fc779;
    font-size: 18px;
}

li {
    list-style-type: none;
}

li a:hover {
    font-size: 110%;
    color: #c2c2c2;
}

strong {
    color: #1fc779;
    font-weight:500;
}

/* header styles */

#header {
    padding: 20px;
}

#header img {
    width: 80px;
}
/* about styles */

#about {
    padding-bottom: 80px;
}

#about ul {
    display: flex;
    justify-content: center;
}

#about li {
    padding: 0 5px;
    font-size: 20px;
}

#about div {
    padding: 20px 15%;
}
/* portfolio styles */
/* connect styles */
/* footer styles */

#footer {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

#footer div {
    font-size: 14px;
    padding: 10px 80px;
}